<nav class="navbar navbar-expand-lg navbar-dark sticky-top
 bg-info" id="mainNav">

   <a class="navbar-brand js-scroll-trigger" href="{{ SITEURL }}/#PageTop"><img src="{{ SITEURL }}/theme/images/whitemonogram.png" height="50px" width="50px">
   </a>
   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarResponsive">
   <ul class="navbar-nav ml-auto">
   <li class="nav-item">
   <a class="nav-link js-scroll-trigger" href="{{ SITEURL }}/#AboutMe">About Me</a>
   </li>
   <li class="nav-item">
   <a class="nav-link js-scroll-trigger" href="./#Interests">Interests</a>
   </li>
   <li class="nav-item">
   <a class="nav-link js-scroll-trigger" href="./#ContactMe">Contact</a>
   </li>
   </ul>
   </div>
   </nav>
  