{% extends "base.html" %} {% block title %}{{ SITENAME }}{% endblock %} {% block
content %}
<div class="container ">
  <!--d-flex justify-content-center align-items-center-->
  <div class="row jumbotron">
    <div class="col-md-12 text-center">
      <hr />
      <h1 class="">Jeff Smolinski</h1>
      <img
      class="cropped-img text-center"
      src="{{ SITEURL }}/theme/images/headshot.png"
    />
      <h2>Software Developer In Omaha, NE</h2>
      
      <hr / >
     
      
    </div>
  </div>
  <div class="row" id="AboutMe">
    <div class="col-md-12 jumbotron text-center">
      <h2>About Me</h2>
    </div>
    <div class="col-md-5 d-flex flex-column justify-content-around">
      <p>{{ ABOUT_ME }}</p>
    </div>
    <div class="col-md-6 offset-md-1 d-flex flex-column justify-content-around">
      <h3 class="text-center">Highlights</h3>

      <div class="align-self-center">
        {%for h in HIGHLIGHTS %}
        <ul>
          <li>
            {{ h }}
          </li>
        </ul>
        {%endfor%}
      </div>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 jumbotron" id="Interests">
      <h2 class="text-center">Interests</h2>
    </div>
    <div class="col-md-5">
      <div class="align-self-center">
        {%for i in INTERESTS %}
        <ul>
          <li>
            <p><strong>{{ i[0]}}</strong>{{ i[1] }}</p>
          </li>
        </ul>
        {%endfor%}
      </div>
    </div>
    <div class="col-md-6 offset-md-1 d-flex flex-column justify-content-around">
      <h3 class="text-center">Open Source Projects</h3>

      <div class="align-self-center">
        {%for p in PROJECTS %}

        <ul class="">
          <li>
            <a href="{{ p[0] }}">{{ p[1] }}</a>
          </li>
        </ul>
        {%endfor%}
      </div>
      <h3 class="text-center">Presentations</h3>

      <div class="align-self-center">
        {%for p in PRESENTATIONS %}

        <ul class="">
          <li>
            <a href="{{ p[0] }}">{{ p[1] }}</a>
          </li>
        </ul>
        {%endfor%}
      </div>
      <hr />
    </div>
  </div>
  <div class="row jumbotron" id="ContactMe">
      <div class="col-md-6 jumbotron text-center">
        <h2>Contact Me</h2>
      </div>
      <div class="col-md-6 ">
        <form action="{{ FORMSPREELINK }}" method="POST">
          <div class="form-group" >
          <input class="form-control" type="text" name="name" placeholder="Name" required>
          </div>
          <div class="form-group" >
            <input class="form-control" type="email" id="mail" name="email" placeholder="Email" required>
            </div>
         
          <div class="form-group">
                <textarea class="form-control" rows="4" name="message" placeholder="Message" required></textarea>
              </div>
            <button type="submit" class="btn btn-success float-right">Send</button>
          </form>
      </div>
    </div>  
    </div>
</div>
{% endblock %}
