---
---

<div class="col-md-6 jumbotron text-center">
  <h2 id="ContactMe">Get In Touch</h2>
</div>
<div class="col-md-6">
  <form action="https://formspree.io/f/mbljyvwl" method="POST">
    <div class="form-group">
      <input class="form-control" type="text" name="name" placeholder="Name" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="email" id="mail" name="email" placeholder="Email" required>
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="4" name="message" placeholder="Message" required></textarea>
    </div>
    <button type="submit" class="btn btn-success float-right">Send</button>
  </form>
</div>
