---
---

<div class="col-md-8 card">
  <div class="m-4">
    <h2 class="text-center" id="AboutMe">EXPERIENCE</h2>
    <hr />
    <h3>Raven Security Associates - Software Engineering / Cybersecurity Consultant</h3>
    <p class="text-muted">2018 - PRESENT</p>
    <ul>
      <li>Aggregated, cleaned, geotagged, and geofenced Omaha, NE police incident report data; augmenting corporate
        threat intelligence and optimizing security staffing.</li>
      <li>Providing greenfield and legacy development as a service for client web apps and cloud infrastructure
        informed by security requirements, threat modeling, and secure code review.</li>
    </ul>

    <h4 class="mt-4">Notable Clients</h4>

    <div class="mb-3">
      <div class="card-body">
        <h5 class="card-title">AuditMiner - Employee Benefit Plan Audit Platform</h5>
        <h6 class="card-subtitle mb-2 text-muted">Technologies: Vue JS & Django Rest Framework</h6>
        <ul>
          <li>Created an MVP that achieved traction in 3 months.</li>
          <li>Introduced an Agile project management workflow increasing efficiency by 20 percent.</li>
          <li>Hired and nurtured engineering talent quadrupling the size of the engineering team.</li>
          <li>Authored a custom ETL pipeline to process 401(k) and payroll data from over 20 sources saving auditors
            approximately 30 hours per project.</li>
          <li>Established a CI/CD pipeline increasing the velocity of delivery by 2x.</li>
          <li>Developed a full stack web framework achieving over $1 Million ARR the first year.</li>
          <li>Implemented technical security controls and a SOC II compliance program allowing sales to pursue
            large, corporate clients and increasing the company's value by 6x.</li>
        </ul>
      </div>
    </div>

    <div class="mb-3">
      <div class="card-body">
        <h5 class="card-title">LinearA Data - Hospital Capacity Planning Application</h5>
        <h6 class="card-subtitle mb-2 text-muted">Technologies: React JS & Golang</h6>
        <ul>
          <li>Improved UX with React.js resulting in a 50% increase in customer adoption.</li>
          <li>Created data collection and matching techniques saving approximately 30 minutes of manual effort per
            data source.</li>
          <li>Audited both technical security controls and HIPAA compliance.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
