---
---

<div class="col-md-4 card">
  <div class="m-4">
    <h2 class="text-center">Security Research</h2>
    <hr />
    <h3>Responsible Vulnerability Disclosures</h3>
    <ul>
      <li>CVE-2021-42053
        <ul>
          <li>1 library 6 packages and 249 repositories impacted</li>
        </ul>
      </li>
      <li>CVE-2021-42134
        <ul>
          <li>1 library 6 packages and 249 repositories impacted</li>
        </ul>
      </li>
    </ul>

    <h3>Publications</h3>
    <p>W. Mahoney, P. Sigillito, J. Smolinski, T. McDonald, and G. Grispos, "Analyzing the Performance of
      Block-Splitting in LLVM Fingerprinting," International Conference on Cyber Warfare and Security, vol. 17, no. 1.
      Academic Conferences International Ltd, pp. 176–184, Mar. 02, 2022. <a href="https://doi.org/10.34190/iccws.17.1.39" target="_blank">doi: 10.34190/iccws.17.1.39</a>.</p>
    <hr />

    <h2 class="text-center">EDUCATION</h2>
    <ul class="list-unstyled">
      <li class="mb-2">University of Nebraska, Omaha, NE - MS Cybersecurity (Cyber Operations) GPA 4.0</li>
      <li>Adams State University, Golden, Co - BA General Studies GPA 4.0</li>
    </ul>
    <hr />

    <h2 class="text-center">AWARDS</h2>
    <div>
      <p>Certificate of Recognition, Omaha Chamber of Commerce (2017)</p>
      <p>For teaching 20 small business owners WordPress development.</p>
    </div>
  </div>
</div>
